<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/my}">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>회원 [[${you.name}]]의 비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <main layout:fragment="content">
        <h1 class="text-2xl my-2 font-bold">비밀번호 수정</h1>
        <form th:action="@{/my/password}" method="post">
            <p class="my-2"><label for="old_password">이전 비밀번호:</label> <input type="password" id="old_password" name="old_password" required></p>
            <p class="my-2"><label for="password">비밀번호:</label> <input type="password" id="password" name="password" minlength="5" required></p>
            <p class="my-2"><label for="password_confirm">비밀번호 확인:</label> <input type="text" id="password_confirm" name="password_confirm" required></p>
            <p class="my-2"><input type="submit" value="작성 완료"></p>
        </form>
    </main>
</body>
</html>